/* .App {
  text-align: center;
} */
.title {
  font-size: 100px;
  font-family: 'Playfair';
  font-weight: normal;
  text-align: center;
}

.title span {
  color: red;
}

.des {
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 20px;
  height: 110px;
  overflow:hidden;
}

.news-title {
  font-family: serif;
  font-size: 20px;
  padding-top: 20px;
}

.news {
  width: 250px;
  height: 400px;
  margin: 50px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news img {
  width: 250px;
  height: 150px;
}

.red {
  color: red;
  margin: 150px;
  margin-top: 50px;
  margin-bottom: 0;
}

.main a {
  color: red;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer p {
  padding: 50px;
}

.footer span {
  color: red;
}

.hr {
  opacity: 10;
  margin: 0;
  padding: 3px;
}

.SearchBox form {
  width: 400px;
  height: 55px;
  display: flex;
  background-color: #fff;
  border: 1px solid gray;
  margin: auto;
}
.SearchBox input {
  flex: 1;
  border: none;
  outline: none;
}

.SearchBox button {
  background: red;
  border: none;
  outline: none;
  padding: 10px 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

.icon {
  align-self: center;
  padding: 10px 20px;
}